@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.barra-config {
  justify-content: center;
}

/* Blog */
.blog-content-main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
}

.blog-content-1 {
  grid-column: 1;
}

.blog-content-2 {
  grid-column: 2;
}

@media (max-width: 900px) {

  .blog-content-main {
    grid-template-columns: 1fr;
  }
  
  .blog-content-2 {
    grid-column: 1  ;
  }
}

.blog-img {
  display: flex;
  justify-content: center;
}

.blog-img img{
  background-repeat: no-repeat;
  background-position: center center;
  width: 90%;
  max-height: 800px;
  object-fit: cover;
  border-radius: 2rem;
}

.blog-content {
  padding: 2rem;
  margin: 2rem 0;
}

.blog-page {
  margin: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.blog-page-title {
  display: flex;

}

.blog-page-link {
  margin: 0;
  margin-top: .5rem;
  display: flex;
  justify-content: flex-end;
}